<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar" > 
      <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
          <mat-icon *ngIf="sidenav.opened">close</mat-icon>
      </button>
      <h1 class="example-app-name">TIENDA TODO 1</h1>
      <span class="example-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/perfil">
              <mat-icon>account_box</mat-icon>
              <span>Mi Perfil</span>
          </button>
          <button mat-menu-item (click)="sidenav.opened = false">
              <mat-icon>exit_to_app</mat-icon>
              <span>Cerrar Sesión</span>
          </button>
      </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
      <mat-sidenav #sidenav style="width: 200px">
          <img src="assets/todo1.png" width="128" style="margin-left: 20px">
          <!--
          <div *ngFor="let m of menus">
              <button mat-menu-item (click)="sidenav.toggle()" routerLink="{{m.url}}" style="cursor: pointer" >
                  <mat-icon>{{m.icono}}</mat-icon>
                  <span>{{m.nombre}}</span>
              </button>
              <mat-divider></mat-divider>
          </div>
      -->
          <button mat-menu-item (click)="sidenav.toggle()"  style="cursor: pointer">
              <mat-icon>search</mat-icon>
              <span>Buscar</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="sidenav.toggle()" routerLink="/" style="cursor: pointer">
            <mat-icon>home</mat-icon>
            <span>Inicio</span>
        </button>
        <mat-divider></mat-divider>
          <button mat-menu-item (click)="sidenav.toggle()" routerLink="productos" style="cursor: pointer">
              <mat-icon>insert_drive_file</mat-icon>
              <span>Productos</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="sidenav.toggle()" routerLink="categorias" style="cursor: pointer">
            <mat-icon>star_rate</mat-icon>
              <span>Categorias</span>
          </button>
          <mat-divider></mat-divider>            
          <button mat-menu-item (click)="sidenav.toggle()" routerLink="ventas" style="cursor: pointer">
            <mat-icon>assessment</mat-icon>
              <span>Ventas</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="sidenav.toggle()" routerLink="empleados" style="cursor: pointer">
              <mat-icon>accessibility</mat-icon>
              <span>Empleados</span>
          </button>
          <mat-divider></mat-divider>
          
      </mat-sidenav>
      <mat-sidenav-content>
          <router-outlet></router-outlet>
      </mat-sidenav-content>
  </mat-sidenav-container>

</div>


